<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件测试</title>
    <script src="/webjars/vue/2.6.11/dist/vue.js"></script>
    <script src="/static/js/flexible/flexible.js"></script>
    <script src="/static/js/flexible/flexible_css.js"></script>
    <link rel="stylesheet" href="/static/ethereal-ui/style/theme/index.css">
    <script src="/webjars/element-ui/2.13.0/lib/index.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/ethereal-ui/fonts/iconfont-index.css">
</head>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
<body>
<div id="vueInstance" v-cloak>

</div>
</body>
<script>


    new Vue({
        el: '#vueInstance',
        data: {
            input:''
        },
        created: function () {
        }
    })
</script>
</html>