@mixin flexBox{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.debugger-window{
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(34, 85, 187, 0.5);
  border: 2px solid yellowgreen;
  text-align: center;
  max-height: 100vh;
  //width: 100%;
  z-index: 999999999;
  //user-select: none;
  //pointer-events: none;
  @include flexBox;
}

.debugger-info{
  @include flexBox;
}

@mixin infoChildSheet{
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: greenyellow;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  word-wrap: anywhere;
}

.debugger-window > p{
  @include infoChildSheet
}

.debugger-window .debugger-info > *{
  @include infoChildSheet
}

@mixin clickUnit{
  user-select: none;
  pointer-events: all;
  width: max-content;
  max-width: max-content;
}

.debugger-button{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  @include clickUnit;
  max-height: 30px;
}

.debugger-window .debugger-info p{
  @include clickUnit;
  max-height: 30px;
}

.debugger-window_title{
  color: red !important;
}
