$class-prefix: "xv";

$theme-color: #2555d5;
//字体基础色
$base-font-color: #000000;
$base-font-color-dark: #e8e8e8;

//背景基础色
$base-background-color: #FFFF;
$base-background-color-dark: #081b34;

*{
  margin: 0;
  padding: 0;
  font-family: “Arial”,“Microsoft YaHei”,“黑体”,“宋体”,sans-serif;
}

[v-cloak]{
  display: none !important;
}

.example {
  padding: 20px;
  color: white;
}
/* 超小设备 (手机, 600px 以下屏幕设备) */
@media only screen and (max-width: 600px) {
  .example {background: #b88e8e;}
}

/* 小设备 (平板电脑和大型手机，600 像素及以上) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* 中型设备（平板电脑，768 像素及以上） */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
}

/* 大型设备（笔记本电脑/台式机，992 像素及以上） */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
}

/* 超大型设备（大型笔记本电脑和台式机，1200 像素及以上） */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}

@mixin base-background{
  width: 100%;
  height: 100vh;
}

@mixin primary_title{
  font-weight: bolder;
  font-size: 2.5vw;
}

.#{$class-prefix} {

  &-flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-horizontal-center{
    margin: 0 auto;
    text-align: center;
  }

  ///*页面背景色*/
  &-base-background{
    @include base-background;
    background-color: darken($base-background-color,5%);
  }

  &-base-background__dark{
    @include base-background;
    background-color: $base-background-color-dark;
  }

  /*主标题*/
  &-primary-title{
    @include primary_title;
    color: lighten($base-font-color,15%);
  }

  /*主标题*/
  &-primary-title_dark{
    @include primary_title;
    color: darken($base-font-color-dark,0%);
  }

  /*带色标题*/
  &-primary-title_clr{
    @include primary_title;
    color: $theme-color;
  }

}

